<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test1">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="com.devopsAssignment.crossBrowserTesting"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test2">
  <parameter name="browser" value="FireFox"></parameter>
    <classes>
      <class name="com.devopsAssignment.crossBrowserTesting"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test3">
  <parameter name="browser" value="Edge"></parameter>
    <classes>
      <class name="com.devopsAssignment.crossBrowserTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
